.root {
    /* Dark color for primary text */
    --primary-color: #1157ab;

    /* Secondary color,slightly lighter */
    --secondary-color: #622e30;

    /* Accent color 1 */
    --accent1-color: #c04647;

    /* Accent color 2 */
    --accent2-color: #3d816a;

    /* Accent color 3 */
    --accent3-color: #254768;

    /* White color */
    --white: #f3eded;

    /* Black color */
    --black: #0e0c0c;

    /* Button Background color */
    --button-color: #714a0e;
    --button-color-hover: #04083e;

    --cta-button-color: #1bdd01;
    --cta-button-color-hover: #04083e;

    /* Top Navigation Colors */
    /* Background color for navigation bar */
    --nav-background-color: var(--accent2-color);
    /* Color for navigation links */
    --nav-link-color: #fff;
    /* Hover color for links */
    --nav-hover-link-color: var(--accent2-color);
    /*Background color on hover for navigation links */
    --nav-hover-background-color: #fff;

    /* Font for heading */
    --heading-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Font for paragraph */
    --paragrph-font: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global selectors moved outside :root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color:var(--accent1-color);
}

body {
    font-family:var(--heading-font);
    color: var(--accent1-color);

}

header,main,footer {
    width:900px ;
    margin: 0 auto;

}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section,article {
    margin:16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position:relative;

}

.hero img {
    display: block;
    width: 900px;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: green;
    color: #fff;

}


.hero article img {
    float: right;
    width: 125px;
    
    

}

.hero article {
    position: absolute;
    bottom: 2rem;
    
}

.employees h2  {
    margin: .1rem;
    padding: 1rem;
    border: 2px solid var(--accent3-color);
    border-radius: .1rem;

}

  article {
    margin: 1rem;
    padding: 1rem;
    border-radius:.1rem;
    border: 2px solid var(--accent2-color);
    background-color: #fff;
    color: blue;
    opacity: .7;
}




.history p {
    width: 36%
}

section {
    margin: 1rem;
    padding: .1rem;
    background-color: #fff;
    align-items: center;
}

.adventures figure {
    display: grid;
    text-align: center;
}








