.root {
    --primary-color:#055a05;/* forest green*/
    --secondary-color:#ffffff;/* white */
    --accent1-color:#1b9715;/*strong green */
    --accent2-color:#000000;/*black*/
    --heading-font:"Roboto";
    --body-font:Arial,Helvetica,Sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

 
header {
    background-color:blue;
    color: white;
    margin: 2px;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    gap: 1rem;
}

footer {
    background-color:blue;
    color: white; 
    display: grid;
    grid-template-columns:3fr 1fr;
    border-radius: .1rem; 
    width: 900px;
    margin: 2px;
    
    
}



header,main,footer {
    width:900px ;
    margin: 0 auto;

}

nav,p,section,article {
    margin:16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position:relative;

}

.socialmedia img {
    width: 4rem;
    height: 4rem;
}
.hero img {
    display: block;
    width: 900px;
    height: auto;

}

 .hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    color: white;
    background-color:green;
    font-size: xx-large;

}


.hero article img {
    float: right;
    width: 125px;
    
    

}

.hero article {
    position: absolute;
    bottom: 2rem;

}

  article {
    margin: 1rem;
    padding: 1rem;
    border-radius:.1rem;
    border: 2px solid var(--accent2-color);
    background-color: green;
    color:#ffffff;
    opacity: .7;
}




.history p {
    width: 36%
}

.adventures h2 {
    position: absolute;
    left: 185px;
    font-size: 2rem;
    width: 900px;
    color: green;
    background-color:white;
    bottom: 1px;
    top:1010px;
    opacity: .7;
}

.history h2 {
    position: absolute;
    font-size: 2rem;
    color: white;
    left: 185px;
    width: 900px;
    text-align: center;
    top: 730px;
    margin: .1rem;
    border: .1rem;
    background-color: green;
    

    
}

.history {
    display:flex; 
    justify-content: center;
    flex-direction: row;
    background-color: orange;
    color: black;
    width: 900px;

}


.adventures figure {
    display: grid;
    text-align: left;
}

.adventures {
    display: grid;
    grid-auto-flow: column;
    gap: .3rem .3rem;
    text-align: center;
    border-radius: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;


}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;

}

nav a :hover {
    background-color:var(--secondary-color);
    color: var(--accent2-color);
    font-size: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


/*css for contact us starts here*/


.contact-form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem  1rem;
    align-items: center;
    width: 50%;
    border: 1rem;
    padding: 1rem;
    margin: .1rem;

}

.btm {
    background-color: var(--primary-color);
    color: blue;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.full-w {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;

}

.subscribe {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: .5rem;
}









