:root {

  /* Dark color for primary text */
    --primary-color: #1157ab;

    /* Secondary color,slightly lighter */
    --secondary-color: #622e30;

    /* Accent color 1 */
    --accent1-color: #c04647;

    /* Accent color 2 */
    --accent2-color: #3d816a;

    /* Accent color 3 */
    --accent3-color: #254768;

    /* White color */
    --white: #f3eded;

    /* Black color */
    --black: #0e0c0c;

    /* Button Background color */
    --button-color: #714a0e;
    --button-color-hover: #04083e;

    --cta-button-color: #1bdd01;
    --cta-button-color-hover: #04083e;

    /* Top Navigation Colors */
    /* Background color for navigation bar */
    --nav-background-color: var(--accent2-color);
    /* Color for navigation links */
    --nav-link-color: #fff;
    /* Hover color for links */
    --nav-hover-link-color: var(--accent2-color);
    /*Background color on hover for navigation links */
    --nav-hover-background-color: #fff;

    /* Font for heading */
    --heading-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Font for paragraph */
    --paragrph-font: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global selectors moved outside :root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}


h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}






















}

