:root {
    
    --primary-color: #4d4c49;

    --secondary-color: #484029;

    --accent1-color: #484048;

    --accent2-color: #37471e;

    --accent3-color: #254768;

    --white: #f3eded;
    
    --black: #0e0c0c;
    
    --button-color: #714a0e;

    --butt

}