main {
    width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding:0 ;

}

header,footer {
    font-size: 1.5rem;
}

h1 {
    margin: 2px;
    text-align: center;
    color: #222;
}

h2 {
    border-bottom: 1px solid #222;

}

 main img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px rgb(0 0 0/20%);
    padding: 5px;
    margin: 10px 0;
    border:1px solid rgb(0 0 0/10%);
}

section {
    margin: 20px;
    border: 1px solid rgb(0 0 0/10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    background-color: darkblue;
    color: white;
    text-align: center;
}

nav a {
    color:white;
    padding:20px;
    display: block;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a:hover {
    background-color: blue;
    color: yellow;
}